* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #ededed;
  background: #081b29;
}

section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
}

.bd-grid {
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Header section starts */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.logo:hover {
  padding: 1px 6px;
  background: #0ef;
  color: #081b29;
  border-radius: 40px;
  letter-spacing: 1px;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.navbar a:hover {
  padding: 1px 5px;
  background: #0ef;
  color: #081b29;
  border-radius: 40px;
  letter-spacing: 1px;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
/* Header section end */


/* Home section starts */
.home {
  position: relative;
  width: 100%;
  justify-content: space-around;
  margin: 23px 0;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content {
  max-width: 600px;
}

.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 span {
  color: #0ef;
}

.home-content h1 {
  font-size: 50px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: #0ef;
  text-decoration: none;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  margin: 30px 15px 30px 0;
}

.home-sci a:hover {
  background: #0ef;
  color: #081b29;
  box-shadow: 0 0 20px #0ef;
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

.home-img {
  height: 80%;
  margin-left: 30px 0;
}

.home-img img {
  height: 467px;
  width: 389px;
  border: 3px solid #0ef;
  border-radius: 50%;
  box-shadow: 0 0 25px #0ef, 0 0 50px #0ef;
}
/* Home section end */

/* About section starts */
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 40px;
}

.about-img {
  padding-bottom: 20%;
  padding-left: 40px;
  padding-top: 20px;
}

.about-img img {
  width: 331px;
  height: 560px;
  border: 2px solid #0ef;
  border-radius: 10px;
  box-shadow: 0 0 25px #0ef, 0 0 50px #0ef;
}

.about-text h2 {
  font-size: 60px;
}

.about-text h2 span {
  color: #0ef;
}

.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
/* About section end */


/* Skills section starts */
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.sub-title span {
  color: #0ef;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.skill-content {
  padding-bottom: 20%;
  padding-left: 40px;
  padding-top: 20px;
}

.skills-subtitle {
  margin-bottom: 2rem;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
}

.skills-text {
  /* margin-bottom: 1rem; */
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px #0ef;
}

.skills-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.skills-names {
  display: flex;
  align-items: center;
}

.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #00ffff;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}

.skills-bar::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
}

.skills-html {
  width: 100%;
}

.skills-css {
  width: 85%;
}

.skills-js {
  width: 65%;
}
.skills-bootstrap {
  width: 100%;
}

.skills-html::after {
  content: "100%";
}

.skills-css::after {
  content: "85%";
}

.skills-js::after {
  content: "65%";
}
.skills-bootstrap::after {
  content: "100%";
}

.skills-img {
  padding-left: 40px;
  padding-top: 20px;
}

.skills-img img {
  width: 500px;
  border-radius: 0.5rem;
}
/* Skills section end */


/* project section starts */
.project-container {
  row-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-top: 40px;
}

.project-img {
  border-radius: 0.5rem;
  overflow: hidden;
  padding-bottom: 2%;
  padding-left: 40px;
  padding-top: 20px;
}

.project-img img {
  transition: 1s;
  width: 90%;
  border: 2px solid #0ef;
  box-shadow: 0 0 25px #0ef, 0 0 50px #0ef;
}

.project-img img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px #0ef, 0 0 50px #0ef;
}

.project-content h3 {
  margin-bottom: 2rem;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
}

.project-content p {
  width: 410px;
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.project-content h5 {
  text-decoration-thickness: 5px;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 2rem;
}

.project-content span {
  text-decoration-thickness: 5px;
  font-size: 22px;
  font-weight: 600;
  color: #0ef;
}
/* project sectionend */

/* Contact section starts */
.contact{
  display: grid;
  grid-template-columns: repeat(2 1fr);
  padding-left: 30px;
  justify-content: center;
  align-items: center;
}

.contact-input {
  width: 100%;
  font-size: 0.938rem;
  font-weight: 600;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid #0ef;
  margin-bottom: 1rem;
  animation: slideTop 2s ease forwards;
  animation-delay: 1s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}

.contact-input:hover{
  box-shadow: 0 0 25px #0ef, 0 0 50px #0ef;
}

.submit {
  margin: auto;
}

.send {
  display: block;
  margin: auto;
  padding: 12px 28px;
  background: #0ef;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-left: 300px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
/* Contact section end */


/* Footer section starts */
.last-text p{
  width: 100%;
  text-align: center;
  padding: 24px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}

.top{
  position:fixed;
  bottom: 2.1rem;
  right: 2,1rem;
}

.top i{
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}
/* Footer section end */


/* keyframes starts */
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/* keyframes ends */
